[Unit] 
Description=Script to setup AWS cli thanks to the attached IAM Profile

[Service]
ExecStart=/usr/local/bin/get-iam-credentials.sh

[Install]
WantedBy=multi-user.target